<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Orders</title>
</head>
<body>

    <h2 style="color: red;">Orders Details</h2>
    <% if(allOrders.length ==0) { %>
        <h3 style="color: red;">No Orders to Show!!!</h3>
    <% } %>

    <% if(allOrders.length !=0) { %>
        <table class="table">
            <thead style="background-color: skyblue;">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Phone#</th>
                    <th scope="col">Products Buy</th>
                    <th scope="col">Total Bill</th>
                    <th scope="col">Timing</th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody style="background-color:tan ;">
                <% for (let index = 0; index < allOrders.length; index++) { %>
                    <tr>
                        <th scope="row">
                            <%= index + 1 %>
                        </th>
                        <td>
                            <%= customerDetails[index].name %>
                        </td>
                        <td>
                            <%= customerDetails[index].phone %>
                        </td>
                        <td>
                            <% for(let i=0; i<(allOrders[index].products.length); i++) { %>
                                <p>
                                    <%= i+1 %>-
                                    <%= allOrders[index].products[i] %>
                                </p>    
                            <% } %>
                        </td>
                        <td style="color: red;">
                            <%= allOrders[index].totalBill %>
                        </td>
                        <td>
                            <%= allOrders[index].date.getDate() %>-
                            <%= allOrders[index].date.getMonth() %>-
                            <%= allOrders[index].date.getFullYear() %>

                        </td>
                        <td>
                            <a href="/adminorders/deleteProduct/<%= allOrders[index]._id %>">Delete Order</a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

        <% } %>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    
</body>
</html>